html {
  background-color: #151519;
  color: #fffdf3;
  font-family: 'Lato', sans-serif;
  font-size: 1.25rem;
  font-weight: 900;
}

::-moz-selection {
  background: transparent;
  color: #d8d8d8;
}

::selection {
  background: transparent;
  color: #d8d8d8;
}

:focus {
  outline-color: #d8d8d8;
}

::-webkit-scrollbar { 
  display: none; 
}

img,
svg {
  vertical-align: middle;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table
}

.clearfix:after { clear: both }

.pointer-events { pointer-events: none; }

.hide {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.center {
  text-align: center;
}

.block { display: block }

.p1y {
  padding: 1rem 0;
}

.p-my {
  margin-left: 1rem;
  margin-right: 1rem;
}

.s-icon {
  text-decoration: none;
  vertical-align: bottom;
  margin: 0.5rem;
  padding: 1rem;
}

.svg-icon {
  width: 16px;
  height: 16px;
  padding-bottom: 2px;
  fill: #737270;
}

.s-icon:hover .svg-icon,
.s-icon:active .svg-icon {
  fill: #FFFDF3;
}

.relative {
  position: relative;
}

.inline-block {
  display: inline-block;
}

.fit { max-width: 100% }

.photo {
  float: left;
}

.logo {
  max-width: 7.5rem;
  margin: auto;
}

.medium-type {
  font-size: 2rem;
  line-height: 3rem;
  -webkit-font-smoothing: antialiased;
}

.dark-type {
  font-weight: 700;
  opacity: 0.4;
}

.type-thin {
  padding-bottom: 0.5em;
  margin-top: 0.5rem;
}

.type-bold {
  font-weight: 700;
}

.type-huge {
  font-size: 3rem;
}

.paragraph-mb {
  margin-bottom: 5rem;
}

.mrn1 {
  margin-right: -0.5rem;
}

.mb1 {
  margin-bottom: 1rem;
}

.social {
  margin-bottom: 3rem;
}

.mr-link {
  margin-right: 4.65rem;
}

.link {
  color: #fffdf3;
  text-decoration: underline;
}

.link:hover, .link:active {
  opacity: 0.4;
  color: #fffdf3;
}

.link-dark {
  color: #fffdf3;
  opacity: 0.4;
  text-decoration: none;
}

.link-dark:hover, .link-dark:active {
  opacity: 1;
}

.emoji {
  position: relative;
  padding-top: 2rem;
}

.emoji:before { 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.emoji-lipstick:before { 
  content: "💄";
}

.emoji-key:before { 
  content: "🔑";
}

.emoji-fourleaf:before { 
  content: "🍀";
}

.body-margin {
  margin: 1.25rem;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.error-main {
  max-width: 15rem;
  margin: auto;
  margin-bottom: 2rem;
}

@media (min-width: 40em) and  (max-width: 52em) {
  .social {
    margin-bottom: 4rem;
    margin-top: 2rem;
  }

  .svg-icon {
    width: 24px;
    height: 24px;
  }
}

@media (max-width: 40em) {
  .social {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .pictures {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    position: relative;
    bottom: 0;
    height: 14rem;
    overflow-y: hidden;
    margin: 0 -1.25rem 1rem -1rem;
  }

  .pictures-inner {
    width: 43rem;
    position: absolute;
    overflow-y: hidden;
  }

  .photo {
    width: 14rem;
    float: left;
  }

  .photo:first-child {
    padding-left: 0.25rem;
  }
}

@media (max-width: 52em) {
  .sm-hide { display: none }

  .logo {
    max-width: 5rem;
  }

  .p-mb {
    margin-bottom: 5rem;
  }

  .header {
    margin: 27vh 1rem;
  }

  .main {
    max-width: 16rem;
    margin: auto;
  }

  .medium-type {
    font-size: 1.1rem;
    line-height: 2rem;
  }

  .link-dark, .dark-type {
    font-size: 0.8rem;
    line-height: 2rem;
  }
}

@media (min-width: 40em) {
  .md-rotate5 {
    -webkit-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);
  }

  .md-rotate3n {
    -webkit-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }

  .md-rotate5n {
    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }

  .photo {
    width: 38.333%;
  }

  .pictures-inner {
    max-width: 40rem;
  }

  .md-photo-margin-t {
    margin-top: -3.5%;
  }

  .md-photo-margin-l {
    margin-left: -7.5%;
  }
}

@media (min-width: 52em) {
  .lg-hide { display: none }

  .lg-mb2 {
    margin-bottom: 2.5rem;
  }

  .p-mb {
    margin-bottom: 10rem;
  }

  .header {
    margin: 30vh 1rem 22.5vh 1rem;
  }

  .main {
    width: 28rem;
    margin: 0 auto 2rem;
  }

  .body-margin {
    margin: 0 5rem 3rem;
  }

  .emoji {
    position: relative;
    padding-top: 3rem;
  }

  .social {
    margin-top: 4rem;
  }

  .s-icon {
    margin: 1rem;
  }

  .svg-icon {
    width: 32px;
    height: 32px;
  }

  .pictures {
    text-align: center;
  }

  .pictures-inner {
    width: 52rem;
    margin: auto;
    margin-top: 3rem;
  }
}
