html {
  background-color: #111111;
  color: #fffdf7;
  font-family: 'Lato', Trebuchet MS, sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
}

body {
  line-height: 2;
}

::-moz-selection {
  background: transparent;
  color: #d8d8d8;
}

::selection {
  background: transparent;
  color: #d8d8d8;
}

:focus {
  outline-color: #d8d8d8;
}

::-webkit-scrollbar { 
  display: none; 
}

img,
svg {
  vertical-align: middle;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table
}

.clearfix:after { clear: both }

.pointer-events { pointer-events: none; }

.clearfix {
  overflow: auto;
}

.hide {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

h1, h2, h3, h4, h5, p {
  margin: 1rem 0;
}

.center {
  text-align: center;
}

.overflow-hidden {
  overflow: hidden;
}

.bg-mud {
  background: #b9afa3;
}

.background {
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.block { display: block }

.p1y {
  padding: 1rem 0;
}

.relative {
  position: relative;
}

.inline-block {
  display: inline-block;
}

.fit { max-width: 100% }

.logo {
  max-width: 5rem;
  margin-bottom: 0.5rem;
}

.header {
  margin-top: 5vh;
}

.pattern {
  position: absolute;
  top: 0;
  width: 33rem;
}

.type-light {
  opacity: 0.6;
  -webkit-font-smoothing: antialiased;
}

.type-caps {
  font-size: 0.7rem;
  font-weight: 900;
  letter-spacing: 1px;
  opacity: 0.4;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}

.type-grey {
  color: #111111;
  -webkit-font-smoothing: antialiased;
}

.type-dark {
  color: #111111;
  opacity: 0.8;
  -webkit-font-smoothing: antialiased;
}

.type-bold {
  font-weight: 700;
}

.type-dashed {
  margin-top: 0.75rem;
  -webkit-font-smoothing: antialiased;
}

.type-dashed:not(:last-of-type) {
  padding-bottom: 0.75rem;
  border-bottom: 1px dashed rgba(21, 21, 25, 0.4);
}

.pt1 {
  padding-top: 1rem;
}

.type-lg {
  font-size: 2.4rem;
  line-height: 1.45;
  margin: 1rem 0;
  font-weight: 900;
}

.intro-text { 
  width: 21rem;
  max-width: 100%;
}

.partners { 
  width: 20rem;
  margin-top: 1rem;
}

.body-p {
  padding: 1rem;
}

.mt1 { margin-top: 1rem }

.mb1 {
  margin-bottom: 1rem;
}

.pb-last {
  padding-bottom: 5rem;
}

.skewy {
  -webkit-transform: skewY(2deg);
  -ms-transform: skewY(2deg);
  transform: skewY(2deg);
  -webkit-backface-visibility: visible;
}

.skewyn {
  -webkit-transform: skewY(-2deg);
  -ms-transform: skewY(-2deg);
  transform: skewY(-2deg);
  -webkit-backface-visibility: hidden;
}

.link {
  color: #fffdf7;
  text-decoration: none;
}

.underline {
  text-decoration: underline;
}

.link:hover, .link:active {
  opacity: 0.4;
  color: #fffdf7;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.error-main {
  max-width: 12rem;
  margin: auto;
  margin-bottom: 2rem;
}

@-webkit-keyframes pattern {
  0% {
    -webkit-transform: translateY(-21rem);
    transform: translateY(-21rem);
    opacity: 0.1;
  }

  10% {
    opacity: 1;
  }

  40% {
    opacity: 1;
  }

  50% {
    -webkit-transform: translateY(9rem);
    transform: translateY(9rem);
    opacity: 0.1;
  }

  60% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(-21rem);
    transform: translateY(-21rem);
    opacity: 0.1;
  }
}

@keyframes pattern {
  0% {
    -webkit-transform: translateY(-21rem);
    transform: translateY(-21rem);
    opacity: 0.1;
  }

  10% {
    opacity: 1;
  }

  40% {
    opacity: 1;
  }

  50% {
    -webkit-transform: translateY(9rem);
    transform: translateY(9rem);
    opacity: 0.1;
  }

  60% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(-21rem);
    transform: translateY(-21rem);
    opacity: 0.1;
  }
}

.pattern {
  vertical-align: middle;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-animation-name: pattern;
  animation-name: pattern;
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-timing-function: cubic-bezier(0.45, 0.05, 0.55, 0.95);
  animation-timing-function: cubic-bezier(0.45, 0.05, 0.55, 0.95);
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

@media (max-width: 40em) {
  .sm-hide { display: none }

  .header {
    margin-top: 12vh;
    margin-bottom: 3rem;
    -webkit-transition: margin 0.5s ease-out;
    transition: margin 0.5s ease-out
  }

  .sm-pt2 {
    padding-top: 2rem;
  }

  .sm-pb2 {
    padding-bottom: 2rem;
  }

  .title-max-width {
    max-width: 14rem;
  }

  .background {
    background-size: contain;
    background-size: 200%;
    background-position: 50% 50%;
  }
}

@media (max-width: 52em) {
  body {
    font-size: 0.8rem;
  }

  .type-caps {
    font-size: 0.6rem;
  }

  .logo {
    max-width: 4rem;
  }

  .type-lg {
    font-size: 1.5rem;
    line-height: 1.65;
  }

  .md-half.header {
    width: 16.25rem;
    max-width: 100%;
  }

  .pattern {
    left: 23rem;
  }

  .sm-mt2 { margin-top: 2rem }
}

@media (min-width: 40em) {
  .md-half {
    width: calc(50% - 4rem);
    float: left;
    padding: 0 2rem;
  }

  .body-p {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  .md-pt3 {
    padding-top: 3rem;
  }

  .md-pb3 {
    padding-bottom: 3rem;
  }

  .title-max-width {
    max-width: 23rem;
  }

  .skewy {
    -webkit-transform: skewY(1deg);
    -ms-transform: skewY(1deg);
    transform: skewY(1deg);
  }

  .skewyn {
    -webkit-transform: skewY(-1deg);
    -ms-transform: skewY(-1deg);
    transform: skewY(-1deg);
  }

  .pb-last {
    padding-bottom: 10vh;
  }
}

@media (min-width: 52em) {
  .md-half.header {
    width: 26rem;
  }

  .pattern {
    left: 36.15rem;
  }

  .pb-last {
    padding-bottom: 20vh;
  }
}

@media (min-width: 88em) {
  .md-half {
    width: calc(50% - 5rem);
    padding: 0 2.5rem;
    max-width: 26rem;
  }

  .body-p {
    padding-right: 5rem;
    padding-left: 5rem;
  }

  .xl-pt6 {
    padding-top: 6rem;
  }

  .header {
    margin-top: 13vh;
  }

  .pattern {
    left: 39rem;
  }

  .pb-last {
    padding-bottom: 37vh;
  }
}
