html {
  background-color: #151519;
  color: #fffdf3;
  font-family: 'Karla', sans-serif;
  font-size: 1.25rem;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  overflow: hidden;
  height: 100%;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
}

::-moz-selection {
  background: transparent;
  color: #d8d8d8;
}

::selection {
  background: transparent;
  color: #d8d8d8;
}

:focus {
  outline-color: #d8d8d8;
}

::-webkit-scrollbar { 
  display: none; 
}

img,
svg {
  vertical-align: middle;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table
}
.clearfix:after { clear: both }

.pointer-events { pointer-events: none; }

.hide {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.main {
  margin-bottom: 5rem;
}

.s-icon {
  text-decoration: none;
  vertical-align: bottom;
  margin: 0.25rem;
  padding: 0.5rem;
}
.svg-icon {
  width: 16px;
  height: 16px;
  padding-bottom: 2px;
  fill: #737270;
}
.s-icon:hover .svg-icon,
.s-icon:active .svg-icon {
  fill: #FFFDF3;
}

.relative {
  position: relative;
}

.inline-block {
  display: inline-block;
}

.fit { max-width: 100% }

.photo {
  margin: -1rem;
  padding: 1rem;
  max-width: 20rem;
}

.pictures {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: -1rem;
  overflow: hidden;
}

.logo {
  max-width: 5rem;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
}

.large-type {
  font-size: 2.9rem;
  line-height: 4rem;
}

.medium-type {
  font-size: 1.2rem;
  line-height: 2.4rem;
  padding-bottom: 1em;
}

.dark-type {
  opacity: 0.4;
}

.type-thin {
  padding-bottom: 0.5em;
  margin-top: 0.5rem;
}

.mt2 {
  margin-top: 2.5rem;
}

.mrn1 {
  margin-right: -0.5rem;
}

.mb1 {
  margin-bottom: 1rem;
}

.ml-social {
  margin-left: -0.65rem;
}

.mr-link {
  margin-right: 4.65rem;
}

.link {
  color: #fffdf3;
  text-decoration: underline;
}

.link:hover, .link:active {
  opacity: 0.4;
  color: #fffdf3;
}

.link-dark {
  color: #fffdf3;
  opacity: 0.4;
  text-decoration: none;
}

.link-dark:hover, .link-dark:active {
  opacity: 1;
}

.line {
  border-bottom: 1px solid #737270;
  margin-bottom: 0;
}

.body-margin {
  margin: 1.25rem;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

@media (max-width: 52em) {
  html {
    background-size: 175%;
    background-position-x: 50%;
  }

  .sm-hide { display: none }

  .sm-top {
    position: absolute;
    top: 0;
    width: 100%;
  }

  .sm-absolute {
    position: absolute;
    bottom: 0;
  }

  .header {
    height: 70vh;
    min-height: 20rem;
    width: 100%;
    background: linear-gradient(transparent, #151519 75%);
  }

  .main {
    max-width: 31rem;
    background: #151519;
  }

  .large-type {
    font-size: 1.7rem;
    line-height: 3.125rem;
  }

  .medium-type {
    font-size: 0.9rem;
    line-height: 2.125rem;
  }

  .link-dark, .dark-type {
    font-size: 0.8rem;
  }
}

@media (min-width: 40em) {
  .photo {
    width: 50%;
  }

  .md-mt0 {
    margin-top: 0;
  }

  .md-mt25 {
    margin-top: 25%;
  }

  .md-mtn25 {
    margin-top: -25%;
  }
}

@media (min-width: 52em) {
  .lg-hide { display: none }

  .fixed-lg {
    position: fixed;
  }

  .header-fixed {
    width: calc(50vw - 7rem);
    bottom: 4.75rem;
  }

  .header {
    height: 1px;
    width: 31rem;
    max-width: 50%;
  }

  .main {
    width: 31rem;
    max-width: 50%;
    margin-top: calc(100vh - 25.75rem);
    background: linear-gradient(transparent, #151519 6%);
  }

  .body-margin {
    margin: 0 5rem 3rem;
  }
}
